.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 40px;
}

.information .line {
  border-left: 1px solid black;
  height: 300px;
}

.information .shop-locate {
  width: 400px;
  height: 400px;
  border: 2px solid #000000;
  border-radius: 15px;
}

.menu-bar-information .shop-information {
  font-weight: 800;
}