#store-detail-wrapper .information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* gap: 100px; */
  margin-bottom: 40px;
  max-width: 100%;
}

.information .line {
  margin: 100px 0px;
  border-bottom: 1px solid black;
  height: 0px;
}

.information .shop-locate {
  white-space: pre-line;
  max-width: 100%;

  font-size: 18px;
  /* padding: 40px 20px; */
}

.information .shop-locate-in {
  margin: 40px 0px;
}

.menu-bar-information .shop-information {
  font-weight: 800;
}