#supportnavi-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 70px;
}

#supportnavi-wrapper .title {
    text-align: center;
    font-size: 30px;
}

#supportnavi-wrapper .navigation {
    display: flex;
    justify-content: center;
    gap: 90px;

    font-size: 20px;
    cursor: pointer;
}

#supportnavi-wrapper .navigation-notice.active,
#supportnavi-wrapper .navigation-qa.active {
    text-decoration: underline;
}