#qa-wrapper .table .th {
    padding: 8px 25px;
}

#qa-wrapper .table .th .td-no,
#qa-wrapper .table .th .td-title {
    width: 680px;
}

#qa-wrapper .td-box {
    display: flex;
    gap: 78px;
}

#qa-wrapper .table .th .td-writer,
#qa-wrapper .table .th .td-date,
#qa-wrapper .table .th .td-status {
    text-align: center;
}

#qa-wrapper .table .tr {
    padding: 8px 30px;
}