#qa-wrapper .table .th {
    padding: 8px 25px;
}

#qa-wrapper .table .th .td-no,
#qa-wrapper .table .th .td-title {
    width: 680px;
}

#qa-wrapper .td-box {
    display: flex;
    gap: 78px;
}

#qa-wrapper .table .th .td-writer,
#qa-wrapper .table .th .td-date,
#qa-wrapper .table .th .td-status {
    text-align: center;
}

#qa-wrapper .table .tr {
    padding: 8px 30px;
}

#qa-wrapper .table .tr .td-no {
    width: 70px;
}

#qa-wrapper .tr .td-title {
    cursor: pointer;
}

#qa-wrapper .search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#qa-wrapper .search-input {
    padding: 10px;
    width: 180px;
    border-radius: 6px;
    border: 1px solid lightgray;
    height: 20px;
}

/* DropdownMenu.css */

.dropdown-container {
    display: flex;
    border-radius: 6px;
    border: 1px solid lightgray;
}

.dropdown-button {
    padding: 10px 0;
    font-size: 16px;
    height: 20px;
    width: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow-image-up {
    background-image: url('/public/images/arrow-down.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.arrow-image-down {
    background-image: url('/public/images/arrow-up.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: 100px;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}
