:root {
    --black-color: rgba(0, 0, 0, 1);
    --white-color: rgba(255, 255, 255, 1);
}

#support-wrapper,
#qa-wrapper,
#notice-detail-wrapper,
#qa-write-wrapper {
    width: 77vw;
    display: flex;
    justify-content: center;
}

#notice-wrapper,
#qa-wrapper,
#notice-detail-wrapper,
#mypage-review-wrapper {
    display: flex;
    flex-direction: column;
} 

#notice-wrapper,
#qa-wrapper {
    width: 63vw;
    gap: 10px;
} 

#qa-wrapper .top {
    display: flex;
    justify-content: space-between;
}

#notice-wrapper .top-text,
#qa-wrapper .top-text {
    margin-top: 30px;
    font-size: 16px;
}

#notice-wrapper .table,
#qa-wrapper .table {
    display: flex;
    flex-direction: column;

    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
}

#notice-wrapper .table .th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 13px 50px;
}

#notice-wrapper .table .th,
#qa-wrapper .table .th {
    display: flex;

    font-size: 16px;
    font-weight: 500;
}

#notice-wrapper .table .tr {
    padding: 13px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#notice-wrapper .table .tr,
#qa-wrapper .table .tr {
    display: flex;
    gap: 44px;

}

#notice-wrapper .table .tr .td-no {
    width: 70px;
    text-align: center;
}

#notice-wrapper .table .tr .td-title,
#qa-wrapper .table .tr .td-title {
    flex: 1;
}

#notice-wrapper .table .tr .td-date,
#qa-wrapper .table .tr .td-date {
    width: 130px;
    text-align: center;
}

#notice-wrapper .bottom,
#qa-wrapper .bottom {
    position: relative;
    display: flex;
    justify-content: center;
}

#notice-wrapper .search-box,
#qa-wrapper .search-box {
    position: absolute;
    right: 0;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}

#notice-wrapper input,
#qa-wrapper input {
    padding: 10px;
    width: 180px;
    border-radius: 6px;
    height: 20px;
    outline: none;
    border: 1px solid rgb(161, 161, 161);
}