#notice-wrapper {
    display: flex;
    flex-direction: column;
}

#notice-wrapper .navigation {
    display: flex;
}

#notice-wrapper .table {
    display: flex;
    flex-direction: column;
}

#notice-wrapper .table .th {
    display: flex;
}

#notice-wrapper .table .tr {
    display: flex;
}

#notice-wrapper .bottom {
    display: flex;
}

#notice-wrapper .search-box {
    display: flex;
}