#notice-detail-wrapper {
    gap: 40px;
    margin-top: 50px;
    width: 65%;
}

#notice-detail-wrapper .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid rgba(188, 188, 188, 1);
}

#notice-detail-wrapper .title {
    text-align: center;
    font-size: 30px;
}

#notice-detail-wrapper .detail-title,
#notice-detail-wrapper .detail-date {
    display: flex;
    gap: 40px;
}

#notice-detail-wrapper .detail-title {


    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#notice-detail-wrapper .detail-date {


    align-items: center;
    padding-bottom: 10px;
    padding-left: 30px; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#notice-detail-wrapper .detail-title-main,
#notice-detail-wrapper .detail-date-main {
    font-weight: bold;
    padding: 5px;
}

#notice-detail-wrapper .detail-date-content {
    font-size: 18px;
}

#notice-detail-wrapper .main {

    margin-bottom: 20px;
    width: 100%;
    height: 400px;

    box-sizing: border-box;
    padding: 20px
}