#mypage-sales-wrapper {
	display: flex;
	flex-direction: column;
	gap: 15px;

	margin-top: 50px;
	width: 1275px;
}

#mypage-sales-wrapper .title {
	font-size: 30px;
	text-align: center;
	font-weight: 600;

	/* margin-bottom: 10px; */
}

#mypage-sales-wrapper .line {
	border-bottom: 1px solid rgba(134, 134, 134, 1);
}

#mypage-sales-wrapper .sales-graph-box {
	background-color: cadetblue;

	/* margin-top: 30px; */
    text-align: center;
    height: 300px;
    font-size: 25px;
}

#mypage-sales-wrapper .sales-date-box {
	display: flex;
	gap: 15px;
}

#mypage-sales-wrapper .selec-year-box,
#mypage-sales-wrapper .selec-month-box {
	display: flex;
	align-items: center;
	gap: 5px;
}

#mypage-sales-wrapper .selec-year,
#mypage-sales-wrapper .selec-month {
    border: 1px solid rgb(117 117 117);
    border-radius: 5px;

	text-align: center;
    line-height: 30px;
    font-size: 18px;

	padding: 0 10px;
}