#mypage-like-wrapper {
	display: flex;
	flex-direction: column;
	gap: 50px;

	width: 1345px;
	margin-top: 60px;
}

#mypage-like-wrapper .title {
	font-size: 30px;
	text-align: center;
	font-weight: 600;
}

#mypage-like-wrapper .main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 46px;
}