#mypage-like-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1350px;
	margin-top: 60px;
}

#mypage-like-wrapper .title {
	font-size: 30px;
	text-align: center;
	font-weight: 600;
}

#mypage-like-wrapper .like-main {
	margin-top: 60px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	max-width: 1300px;
	width: 100%;
}