#sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-up .auth-title {
    margin-top: 100px;
    display: flex;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
}

#sign-up .login-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: 10px;
    overflow: auto;
    max-height: 480px;
    padding-right: 40px; */
}

#sign-up .login-box::-webkit-scrollbar {
    width: 4px;
}

/* 스크롤바 핸들 (움직이는 부분) */
#sign-up .login-box::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 6px;
    /* 핸들의 둥근 모서리 */
}

#sign-up .login-box::-webkit-scrollbar-thumb:hover {
    background: darkgray;
    border-radius: 6px;
    /* 핸들의 둥근 모서리 */
}

#sign-up .sns-container {
    display: flex;
    margin-top: 15px;
}

#sign-up .sub-title {
    color: darkgray;
    font-size: 18px;
    font-weight: 500;
}

#sign-up .kakao {
    background-image: url('/public/images/kakao-button.png');
    cursor: pointer;
    background-size: 100% 100%;
    height: 35px;
    width: 35px;

}

#sign-up .naver {
    background-image: url('/public/images/naver-button.png');
    cursor: pointer;
    background-size: 100% 100%;
    height: 35px;
    width: 35px;
    margin-left: 20px;
}

#sign-up .google {
    background-image: url('/public/images/google.png');
    cursor: pointer;
    background-size: 100% 100%;
    height: 35px;
    width: 35px;
    margin-left: 20px;
}

#sign-up .hr-custom-two {
    width: 25%;
    height: 1.5px;
    background-color: lightgray;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

#sign-up .box-test {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

#sign-up .send-button {
    width: 120px;
    height: 45px;
    border-radius: 6px;
    background-color: black;

    display: flex;
    color: white;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sign-up .send-button:hover {
    width: 120px;
    height: 45px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    color: white;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sign-up .message-false {
    font-size: 12px;
    font-weight: 200;
    color: red;
    margin-bottom: 20px;
    align-self: stretch;
}

#sign-up .message-true {
    font-size: 12px;
    font-weight: 200;
    color: rgba(0, 128, 0, 0.7);
    margin-bottom: 20px;
    align-self: stretch;
}

#sign-up .inputs {
    width: 250px;
    height: 25px;
    border-radius: 6px;
    border: 1px solid darkgray;
    margin-bottom: 7px;
    padding: 10px;
}

#sign-up .inputs1 {
    width: 380px;
    height: 25px;
    border-radius: 6px;
    border: 1px solid darkgray;
    margin-bottom: 7px;
    padding: 10px;
}

#sign-up .gender-box {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

#sign-up .gender-box .unselected {
    display: flex;
    width: 193px;
    height: 45px;
    border: 1px solid darkgray;
    background-color: white;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sign-up .gender-box .selected {
    display: flex;
    width: 193px;
    height: 45px;
    border: 1px solid black;
    background-color: black;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

#sign-up .gender-box :hover {
    display: flex;
    width: 193px;
    height: 45px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sign-up .signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 25px;
    background-color: black;
    color: white;
    margin-top: 30px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 0;
}

#sign-up .signup-button:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin-top: 30px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 0;
}

.timer {
    position: absolute;
    right: 15px;
    top: 43%;
    transform: translateY(-50%);
    color: rgba(64, 64, 64, 1);
    font-weight: 500;
    font-size: 15px;
}

#sign-up .input-wrapper {
    position: relative;
    display: inline-block;
    padding : 10px 0;
}

#sign-up .user-permission {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
}

#sign-up .hr-custom-three {
    width: 100%;
    height: 1.5px; 
    background-color: lightgray; 
    border: none; 
    margin-top: 15px;
    margin-bottom: 15px; 
    align-items: center;
}

#sign-up .permission-box {
    display: flex;
    flex-direction: row;
    gap: 8px;

    font-size: 18px;
    font-weight: 700;
}

#sign-up .permission-box-detail {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 15px;
    justify-content: space-between;
}

#sign-up .permission-label {
    flex: 1;
}

#sign-up .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease;
}

#sign-up .toggle-button.rotate {
    transform: rotate(180deg);
}

#sign-up .service-contents {
    width: 100%;
    height: 100px;
    overflow: auto;
    white-space: pre-line;
}

#sign-up .service-contents::-webkit-scrollbar-button {
    display: none;
}