#manage-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#manage-product .title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;

    margin-top: 50px;
    margin-bottom: 25px;
}

#manage-product .custom-hr {
    width: 80vw;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 70px;
}

#manage-product .center {
    flex-direction: column;
    justify-items: center;
}

#manage-product .product-box {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 0 auto;
    width: 100%;
}

#manage-product .add-button {
    width: 260px;
    height: 320px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease;
    position: relative;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#manage-product .legacy-product {
    width: 260px;
    height: 320px;
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    position: relative;
}

#manage-product .add-button:hover,
#manage-product .legacy-product:hover {
    transform: translateY(-10px);
}

#manage-product .add-button .circle {
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 2;
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

#manage-product .add-button .add-text {
    font-size: 22px;
    font-weight: 600;
}


.close-button {
    display: none;
    position: absolute;
    font-size: 14px;
    top: 12px;
    right: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 3px 6px;
    border-radius: 50%;
    cursor: pointer;
}

#manage-product .legacy-product:hover .close-button {
    display: block;
}